h1, h2, h3 {
  font-family: 'Walter Turncoat', cursive;
}

body {
  text-align: center;
  font-family: 'Karma', serif;
}

ul, li {
  text-align: left;
font-family: 'Cutive Mono', monospace;
}

img {
  width: 40%;
  height: auto;
}
